.comment {
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #081523;
    border-radius: 10px;
}

.comment p {
    margin: 0px !important;
    margin-top: 5px !important;
}

.comment a {
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
}

.comment code {
    color: rgb(155, 153, 153);
}

.comment pre {
    background: #263341 !important;
}

.commentAvatarContainer {
    display: flex;
    border-bottom: 0.5px solid #0e243e;
    padding-bottom: 3px;
}

.commenterName {
    color: dodgerblue;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: 600;
    display: block;
}

.commenterName:hover {
    opacity: 0.8;
}

.commentTime {
    font-size: 10px;
    color: gray;
    margin-left: 5px;
    margin-top: 10px;
}

.deleteCommentButton {
    background: none;
    border: none;
    color: gray;
    float: right;
    cursor: pointer;
}

.deleteCommentButton:hover {
    color: tomato;
}
